<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Listado de Campañas</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar tu campaña" inputmode="text" (ionChange)="find($event.target.value)"
    debounce="1000">
  </ion-searchbar>
</ion-header>

<ion-content>

  <ng-container *ngFor="let campaign of campaigns; let i=index" class="card-content">
    <ion-card>
      <ion-card-header class="bg-ligth-gray">
        <ion-card-subtitle class="campaign-card-header">
          <div>
            <ion-label class="ion-margin-end">{{campaign.nombre}}</ion-label>
            <ion-label>{{campaign.status_name}}</ion-label>
          </div>
          <ion-label class="date">Iniciada el {{campaign.fecha_inicio }}</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="campaign-card-content">
        <div>
          <ion-label>
            <img src="/assets/icon/persons-circle.svg" alt=""> {{campaign.campaign_clientes_count}} clientes
          </ion-label>
          <ion-label>
            <img src="/assets/icon/monetization.svg" alt=""> {{campaign.quotes}} ventas
          </ion-label>
        </div>
        <div>
          <ion-button color="warning" size="small">
            <ion-icon slot="start" name="eye-outline"></ion-icon>
            Detalles
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más campañas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>