<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Buscar tu campaña" inputmode="text" (ionChange)="find($event.target.value)"
    debounce="1000">
  </ion-searchbar>

  <ng-container *ngIf="campaigns.length; else noData">
    <ng-container *ngFor="let campaign of campaigns; let i=index" class="card-content">
      <ion-card>
        <ion-card-header class="bg-ligth-gray">
          <ion-card-subtitle>
            <div class="campaign-card-header">
              <p class="campaign-title">{{campaign.nombre}}</p>
              <ion-label>{{campaign.status_name}}</ion-label>
              <ion-label>Iniciada el {{campaign.fecha_inicio }}</ion-label>
            </div>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="campaign-card-content">
          <div>
            <ion-label>
              <img src="/assets/icon/persons-circle.svg" alt="" style="margin-right: 5px;">
              {{campaign.campaign_clientes_count}} clientes
            </ion-label>
            <ion-label>
              <img src="/assets/icon/monetization.svg" alt="" style="margin-right: 5px;"> {{campaign.quotes}} ventas
            </ion-label>
          </div>
          <div>
            <ion-button color="warning" size="small" [routerLink]="[ '/campaigns/campaign',campaign.id ]">
              <ion-icon slot="start" name="eye-outline"></ion-icon>
              Detalles
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
  <ng-template #noData>
    <div class="card text-center ion-padding border-0">
      <div class="card-body">
        <div class="col text-center alert alert-warning" role="alert">
          No hay campañas que mostrar en estos momentos.
        </div>
      </div>
    </div>
  </ng-template>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más campañas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>