<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Listado de Campañas</ion-title>
    <!-- Searchbar -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="search-bar" placeholder="Busca tu campaña"></ion-searchbar>


  <ng-container *ngFor="let campaign of campaigns; let i=index" class="card-content">

    <ion-card>
      <ion-card-header class="bg-ligth-gray">
        <ion-card-subtitle class="campaign-card-header">
          <div>
            <ion-label class="ion-margin-end">Campaña #{{i+1}}</ion-label>
            <ion-label>EN CURSO</ion-label>
          </div>
          <ion-label class="date">Iniciada el 01-01-2021</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="campaign-card-content">
        <div>
          <ion-label>
            <img src="/assets/icon/persons-circle.svg" alt=""> 102 clientes
          </ion-label>
          <ion-label>
            <img src="/assets/icon/monetization.svg" alt=""> 7 ventas
          </ion-label>
        </div>
        <div>
          <ion-button color="warning" size="small">
            <ion-icon slot="start" name="eye-outline"></ion-icon>
            Detalles
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </ng-container>

</ion-content>