<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Datos del cliente</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <h2 class="title ion-text-center">{{client.nombre_completo}}</h2>

  <div class="document-banner text-center">
    <div>
      <ion-icon class="icons" src="assets/icon/documents.svg"></ion-icon>
      <ion-label>Documentos</ion-label>
    </div>
    <div>
      <ion-icon class="icons" src="assets/icon/notes.svg"></ion-icon>
      <ion-label>Notas</ion-label>
    </div>
    <div>
      <ion-icon class="icons" src="assets/icon/schedule.svg"></ion-icon>
      <ion-label>Agenda</ion-label>
    </div>
    <div>
      <ion-icon class="icons" src="assets/icon/cotizations.svg"></ion-icon>
      <ion-label>Cotizaciones</ion-label>
    </div>
  </div>

  <div class="d-flex justify-content-around container-bordered ion-padding-vertical">
    <ion-chip color="danger" mode="ios" outline="true">
      <ion-icon name="close-circle-outline"></ion-icon>
      <ion-label>No interesado</ion-label>
    </ion-chip>
    <ion-chip color="success" mode="ios" outline="true">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Interesado</ion-label>
    </ion-chip>
  </div>

  <div class="d-flex justify-content-around container-bordered">
    <div class="d-flex flex-column">
      <ion-label class="font-weight-bold">Cliente:</ion-label>
      <ion-label>{{client.nombre_completo}}</ion-label>
      <ion-chip color="primary" mode="ios" outline="false">
        <ion-label>Actualizado</ion-label>
      </ion-chip>
      <ion-label>
        <small style="font-size: 10px;" class="text-black-50">Última actualización 26 de mayo 2021</small>
      </ion-label>
    </div>
    <div class="d-flex flex-column align-items-start">
      <ion-label class="font-weight-bold">Teléfono:</ion-label>
      <ion-label>{{client.numero}}</ion-label>
      <ion-label class="font-weight-bold">Cédula</ion-label>
      <ion-label>{{client.identidad}}</ion-label>
    </div>
    <div>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-text color="dark" class="bold-text">
        Historial
      </ion-text>
    </ion-card-header>
    <ion-card-content class="history">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon src="assets/icon/cellphone1.svg"></ion-icon>
            &nbsp;
            <ion-text color="dark" class="bold-text">
              Alberto Chirinos:
            </ion-text> Llamda realizada
            <br>
            <ion-badge color="medium">26 May 2021</ion-badge>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon src="assets/icon/cellphone1.svg"></ion-icon>
            &nbsp;
            <ion-text color="dark" class="bold-text">
              Alberto Chirinos:
            </ion-text> Ha registrado una nota
            <br>
            <ion-badge class="history-span" color="warning">10 May 2021</ion-badge>
            <br>
            <ion-textarea>
              El cliente indica que se llame despues de las 6:00pm
              <br><br><br>
              Se mostró interesado
            </ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <ion-icon src="assets/icon/cellphone1.svg"></ion-icon>
            &nbsp;
            <ion-text color="dark" class="bold-text">
              Alberto Chirinos:
            </ion-text> Ha marcado
            <br>
            <ion-badge color="medium">26 May 2021</ion-badge>

          </ion-col>
          <ion-col class="ion-align-self-center">
            <ion-icon class="icon" src="assets/icon/check-outline.svg"></ion-icon>
            &nbsp;
            <ion-text color="dark" class="status-text">
              Interesado
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon class="icon-history" src="assets/icon/schedule.svg"></ion-icon>
            &nbsp;
            <ion-text color="dark" class="bold-text">
              Alberto Chirinos:
            </ion-text> Ha marcado una cita
            <br>
            <ion-badge color="medium">09 May 2021</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="warning">
    <ion-text class="card-content-footer-text">
      VOLVER AL LISTADO DE CONTACTOS
    </ion-text>
  </ion-button>
</ion-content>