<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Datos del cliente</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <app-info-bar [client]="client" [id]="clientId"></app-info-bar>

  <div class="d-flex flex-column align-items-center">
    <div>
      <ion-chip color="warning" mode="ios" outline="true" (click)="updateInterest('interest', 2)"
        class="ion-margin-end">
        <ion-icon name="close-circle-outline">
        </ion-icon>
        <ion-label>No interesado</ion-label>
      </ion-chip>
      <ion-chip color="success" mode="ios" outline="true" (click)="updateInterest('interest',1)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Interesado</ion-label>
      </ion-chip>
    </div>
    <ion-chip color="danger" mode="ios" outline="true" (click)="updateInterest('unanswered', 2)">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Sin respuesta</ion-label>
    </ion-chip>
  </div>

  <div class="d-flex justify-content-around container-bordered">
    <div class="d-flex flex-column">
      <ion-label class="ion-margin-top">Cliente:</ion-label>
      <ion-label>{{client.nombre_completo}}</ion-label>
      <ion-label class="ion-margin-top">Sexo:</ion-label>
      <ion-label>{{client.sexo}}</ion-label>
      <ion-label class="ion-margin-top">Fecha de nacimiento:</ion-label>
      <ion-label>{{client.fecha_nacimiento}}</ion-label>
      <ion-label class="ion-margin-top">N° Seguro social:</ion-label>
      <ion-label>{{client.social_security_number}}</ion-label>
      <br>
      <ion-chip color="primary" mode="ios" outline="false">
        <ion-label>Actualizado</ion-label>
      </ion-chip>
      <ion-label class="ion-margin-vertical">
        <small style="font-size: 10px;" class="text-black-50">Última actualización 26 de mayo 2021</small>
      </ion-label>
    </div>
    <div class="d-flex flex-column align-items-start">
      <ion-label class="ion-margin-top">Teléfono:</ion-label>
      <ion-label>{{client.numero}}</ion-label>
      <ion-label class="ion-margin-top">Cédula:</ion-label>
      <ion-label>{{client.identidad}}</ion-label>
      <ion-label class="ion-margin-top">Dirección:</ion-label>
      <ion-label>{{client.direccion}}</ion-label>
    </div>
    <div>
      <ion-icon (click)="options()" name="ellipsis-vertical" class="ion-margin-vertical"></ion-icon>
    </div>
  </div>

  <div class="container-bordered">
    <div>
      <ion-label>Historial</ion-label>
    </div>
    <ion-list>
      <ng-container *ngFor="let h of historical; let i=index">
        <ion-item>
          <div style="margin: 1rem 0;" class="w-100">
            <ion-label>
              <ion-icon class="icon" src="assets/icon/cellphone1.svg"></ion-icon>
              {{h?.user.nombre}} {{h?.user.apellido}}: Ha marcado interesado
            </ion-label>
            <div class="d-flex justify-content-between">
              <div class="date-badged primary text-center">{{h.created_at | date}}</div>
              <div class="d-flex align-items-center" *ngIf="h.message === 'Se mostró interesado'">
                <ion-icon slot="end" name="checkmark-circle-outline" color="success" style="font-size: 2rem;">
                </ion-icon>
                <ion-label>
                  Interesado
                </ion-label>
              </div>
            </div>
          </div>
        </ion-item>
      </ng-container>
    </ion-list>

  </div>

  <div class="d-flex justify-content-around">
    <ion-button color="warning" (click)="backToCampaignClients()">Volver al listado</ion-button>
    <ion-button color="primary" fill="outline" (click)="nextCall()">Llamar siguiente</ion-button>
  </div>
</ion-content>