<ion-content>
  <div class="login">
    <div>
      <ion-img [src]="logo" style="height: 8rem;"></ion-img>
    </div>
    <div class="ion-text-center ion-margin-vertical">
      <h4 class="title-login">Bienvenido a GRUPO GLOBAL ELITE</h4>
      <p>Ingrese con sus datos registrados</p>
    </div>
    <div id="form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="item-input">
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-item>
            <ion-input type="email" formControlName="email" [ngClass]="{'invalid': submitted && f.email?.errors}">
            </ion-input>
            <ion-icon slot="end" name="person-circle"></ion-icon>
          </ion-item>
          <div *ngIf="submitted && f.email?.errors">
            <ion-text color="danger">{{formError.required}}</ion-text>
            <ion-text color="danger">{{formError.email}}</ion-text>
          </div>
        </div>
        <div class="item-input">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-item>
            <ion-input [type]="isPassword ? 'password' : 'text' " formControlName="password"></ion-input>
            <ion-icon slot="end" [name]="isPassword ? 'eye' : 'eye-off' " (click)="isPassword = !isPassword"></ion-icon>
          </ion-item>
          <div *ngIf="submitted && f.password?.errors">
            <ion-text color="danger">{{formError.required}}</ion-text>
            <ion-text color="danger">{{formError.minLength}} 6</ion-text>
          </div>
        </div>
        <ion-button type="submit" expand="block" fill="solid" class="ion-margin-vertical">
          Iniciar sesión
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>