<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cotizaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-info-bar [client]="client" [id]="id"></app-info-bar>

  <ng-container *ngFor="let clientQuote of clientQuotes; let i=index">
    <div class="container-bordered">
      <ion-grid fixed>
        <ion-row class="ion-justify-content-between">
          <ion-col size="8">
            <ion-label>
              <ion-icon name="chevron-forward-outline"></ion-icon>
              {{client.nombre_completo}}
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <div class="ion-text-end">
              <ion-label>{{client.fecha_nacimiento | date:'dd/MM/yyyy'}}</ion-label>
            </div>
            <div class="float-end ion-margin-end ion-margin-top" (click)="share(clientQuote.pdf_url)">
              <ion-icon name="share-social-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="date-badged secondary text-center">{{clientQuote.amount | currency}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Banco: {{clientQuote.bank.name}}
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </ng-container>


  <div class="container-bordered">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="8">
          <ion-item>
            <ion-label>Fecha de nacimiento</ion-label>
            <ion-datetime
              min="1960"
              [(ngModel)]="birth"
              (ionChange)="setAge($event)"
              displayFormat="DD/MM/YYYY"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label>Edad</ion-label>
            <ion-input [(ngModel)]="age" readonly type="number" maxlength="2"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-select
            [(ngModel)]="quote.sex"
            placeholder="Seleccione sexo">
              <ion-select-option value="Femenino">Femenino</ion-select-option>
              <ion-select-option value="Masculino">Masculino</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Neto</ion-label>
            <ion-input inputmode="numeric" (ionChange)="calculateNetSalary($event)" debounce="100"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Salario</ion-label>
            <ion-input type="number" [(ngModel)]="quote.salary" inputmode="numeric"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Solicitado</ion-label>
            <ion-input *ngIf="age != null" inputmode="numeric" (ionChange)="calculateRequestedSalary($event)"
              debounce="250"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-list *ngIf="showBanksRequested">
        <ion-list-header>
          Bancos
        </ion-list-header>
        <ion-item *ngFor="let bank of RequestedBanks">
          <ion-label>{{bank.bank_name}}</ion-label>
          <ion-badge slot="start">$ {{bank.salary}}</ion-badge>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-label>Peso</ion-label>
            <ion-input [(ngModel)]="quote.weight" inputmode="decimal" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-select value={quote.type_weight} [(ngModel)]="quote.type_weight">
              <ion-select-option value="Kgs">KG</ion-select-option>
              <ion-select-option value="Libras">LIBS</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item>
            <ion-label>Altura</ion-label>
            <ion-input [(ngModel)]="quote.height" inputmode="decimal" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>¿Hipoteca?</ion-label>
            <ion-checkbox [(ngModel)]="quote.apply_mortgage" slot="start" (ionChange)="hasMortage = !hasMortage">
            </ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item *ngIf="hasMortage">
            <ion-label>Hipoteca</ion-label>
            <ion-input type="number" [(ngModel)]="quote.mortgage"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Prestamo</ion-label>
            <ion-input type="number" [(ngModel)]="quote.loan"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4">
          <ion-button (click)="validQuote()">
            Calcular
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div *ngFor="let bank of banks" class="container-bordered">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="5">
          <ion-checkbox (ionChange)="selectBankQuote()" [(ngModel)]="bank.isChecked"></ion-checkbox>
          &nbsp;
          <ion-icon name="business-outline"></ion-icon>
          &nbsp;
          {{bank.bank_name}}
        </ion-col>
        <ion-col size="5" class="ion-justify-content-right">
          <div class="date-badged primary text-right">${{bank.quotes[0].amount}}</div>
        </ion-col>
        <ion-col size="2">
          <div class="ion-text-right">
            <ion-icon name="chevron-up-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          Neto a cobrar <div class="date-badged primary text-center">${{bank.quotes[0].amount}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Letra Quicenal ${{bank.quotes[0].biweekly_letter}}
        </ion-col>
        <ion-col size="6" class="ion-justify-content-right">
          <div class="text-right">
            Interes {{bank.bank_interest_rate}}%
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">Letra Mensual: ${{bank.quotes[0].monthly_letter}}</ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <div *ngIf="bank.quotes[0].apply_medical_exams" class="date-badged primary text-center">Con examenes médicos
        </div>
      </ion-row>
    </ion-grid>
  </div>
  <div class="ion-justify-content-center text-center">
    <ion-button (click)="finishQuote()">
      Cotizar
    </ion-button>
  </div>
</ion-content>
