$primary-color: #304ffe;
$primary-text: "Open Sans";

.title {
  color: $primary-color;
  height: 50px;
}
.search-bar {
  height: 20%;
}
ion-button {
  text-transform: none;
}
.header {
  background-color: #f8f8f8;
  box-shadow: 0.4px 0.4px 0.4px #999;
}
.card-content {
  &-header {
    background-color: $primary-color;
    &-title {
      color: white;
    }
  }
  &-title {
    font-weight: bold;
    font-size: 1rem;
    color: #000000;
  }
  &-subtitle {
    text-align: right;
    & > ion-icon {
      height: 30px;
      width: 100px;
    }
  }
  &-text {
    font-weight: bold;
    font-size: 1rem;
    color: $primary-color;
    & > ion-icon {
      height: 25px;
      width: 25px;
      color: $primary-color;
    }
  }
  &-button {
    text-align: right;
    & > ion-button > ion-icon {
      height: 20px;
      width: 20px;
    }
    &-text {
    }
  }
  & > ion-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: -17px;
    color: $primary-color;
  }
  &-footer {
    &-text {
      font-weight: bolder;
    }
  }
}
