<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Campaña #1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="search-bar" placeholder="Buscar clientes" ></ion-searchbar>


  <ion-card *ngFor="let client of clients" class="card-content">
  <ion-card-content>

<ion-item>
  <ion-label>
    <ion-icon class="account-icon" src="assets/icon/account-circle.svg"></ion-icon>
    <ion-text class="client">
        Cliente:    <ion-text class="card-content-title">{{client.cliente.nombre}} {{client.cliente.apellido}}</ion-text>
    </ion-text>
  </ion-label>
  <ion-label class="button-client">
    <ion-button class="button-client" shape="round" size="small" color="tertiary">
      <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      &nbsp;
      Ver Cliente
    </ion-button>
  </ion-label>
</ion-item>

    <ion-row>
      <ion-col class="card-content">
        Estado: <br>
           <ion-text class="card-content-text">
             {{client.status.name}}
            </ion-text>
      </ion-col>
      <ion-col class="card-content">
        Telefono: <br>
           <ion-text class="card-content">
             {{client.cliente.numero}}
            </ion-text>
      </ion-col>
      <ion-col class="card-content-button">
        <ion-button class="whatsapp-button" shape="round">
          <ion-icon slot="start" src="assets/icon/whatsapp-icon.svg"></ion-icon>
          <ion-text class="card-content-button-text">
            Whatsapp
           </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
  <ion-button class="call" expand="full" color="warning">
    <ion-icon slot="start" src="assets/icon/cellphone.svg"></ion-icon>
    <ion-text class="card-content-footer-text">
      LLAMAR AHORA
     </ion-text>
  </ion-button>
  </ion-card>
   <div style="flex: 1;">
     <ion-button class="call2" expand="full" color="warning">
       <ion-icon slot="start" src="assets/icon/cellphone.svg"></ion-icon>
       <ion-text class="card-content-footer-text">
         CONTINUAR LLAMANDO
        </ion-text>
     </ion-button>
   </div>
</ion-content>
<ion-footer class="ion-no-border">
</ion-footer>
