<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Agenda</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h2 class="title ion-text-center">Melissa Olaya Domingues</h2>

  <div class="document-banner">
    <div>
      <ion-icon class="icons" src="assets/icon/documents.svg"></ion-icon>
      <ion-label>Documentos</ion-label>
    </div>
    <div>
      <ion-icon class="icons" src="assets/icon/notes.svg"></ion-icon>
      <ion-label>Notas</ion-label>
    </div>
    <div>
      <ion-icon class="icons" src="assets/icon/schedule.svg"></ion-icon>
      <ion-label>Agenda</ion-label>
    </div>
    <div>
      <ion-icon class="icons" src="assets/icon/cotizations.svg"></ion-icon>
      <ion-label>Cotizaciones</ion-label>
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-text color="dark" class="bold-text">
        Citas proximas
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="document">
        <ion-list *ngFor="let reminder of reminders">
          <ion-item class="no-bottom-border-item">
            <ion-icon slot="start"  src="assets/icon/arrow-icon.svg"></ion-icon>
            <ion-icon slot="end" (click)="alert(reminder)"  src="assets/icon/points.svg"></ion-icon>
            <ion-text>
              {{ reminder.title }}
            </ion-text>
          </ion-item>
          <ion-item class="no-bottom-border-item">
            <ion-badge>Creado por {{reminder.user.nombre}} {{reminder.user.apellido}} </ion-badge>
          </ion-item>
          <ion-item class="last">
            {{reminder.updated_at}}
          </ion-item>
        </ion-list>

      </div>

      <!-- Infinte Scroll -->
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-header-title">Crea una reunion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="no-bottom-border-item">
        <ion-textarea [(ngModel)]="reminder.title" auto-grow="true" placeholder="Escribe aquí tu nota"></ion-textarea>
      </ion-item>
      <ion-item class="no-bottom-border-item">
          <ion-label>Fecha de la reunion</ion-label>
          <ion-datetime  min="{{today}}" max="{{maxDate}}" placeholder="Selecciona una Fecha"></ion-datetime>
      </ion-item>
      <ion-item class="no-bottom-border-item">
          <ion-label>Hora de la reunion</ion-label>
          <ion-datetime  display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="no-bottom-border-item">
      <ion-label>Duracion</ion-label>
      <ion-select [(ngModel)]="reminder.duration" placeholder="Selecciona cuantas hora durara la reunion">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-card-content>
  </ion-card>
  <div class="m-0 row justify-content-center">
    <ion-button class="col-auto" shape="round" color="light">
      <ion-text class="card-content-footer-text">
        Salir
      </ion-text>
    </ion-button>
    &nbsp;
    <ion-button class="col-auto" (click)="create()" *ngIf="!updatedReminder else upd" shape="round" color="warning">
      <ion-text class="card-content-footer-text">
        Guardar cita
      </ion-text>
    </ion-button>
    <ng-template #upd>
      <ion-button class="col-auto" (click)="update()" shape="round" color="warning">
        <ion-text class="card-content-footer-text">
          Actualizar cita
        </ion-text>
      </ion-button>
     </ng-template>
  </div>
</ion-content>
