<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Agenda</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="client-name">
    <ion-text class="title" >
        Melissa
    </ion-text>
    <div>
      <ion-grid>
        <!-- icon -->
        <ion-row class="icons-container">
          <ion-col size="3">
            <ion-icon class="icons" src="assets/icon/documents.svg"></ion-icon>
            <br>Documentos
          </ion-col>
          <ion-col size="3">
            <ion-icon class="icons"
             src="assets/icon/notes.svg"></ion-icon>
            <br>Notas
          </ion-col>
          <ion-col size="3">
            <ion-icon class="icons" src="assets/icon/schedule.svg"></ion-icon>
            <br>Agenda
          </ion-col>
          <ion-col size="3">
            <ion-icon class="icons" src="assets/icon/cotizations.svg"></ion-icon>
            <br>Cotizaciones
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- end icon -->
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-text color="dark" class="bold-text">
        Citas proximas
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="document">
        <ion-list *ngFor="let reminder of reminders">
          <ion-item>
            <ion-icon slot="start"  src="assets/icon/arrow-icon.svg"></ion-icon>
            <ion-icon slot="end" (click)="alert(reminder)"  src="assets/icon/points.svg"></ion-icon>
            <ion-text>
              {{ reminder.title }}
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-badge>Creado por {{reminder.user.nombre}} {{reminder.user.apellido}} </ion-badge>
          </ion-item>
          <ion-item class="last">
            {{reminder.updated_at}}
          </ion-item>
        </ion-list>

      </div>

      <!-- Infinte Scroll -->
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-header-title">Crea una reunion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-textarea [(ngModel)]="reminder.title" auto-grow="true" placeholder="Escribe aquí tu nota"></ion-textarea>
      </ion-item>
      <ion-item>
          <ion-label>Fecha de la reunion</ion-label>
          <ion-datetime  min="{{today}}" max="{{maxDate}}" placeholder="Selecciona una Fecha"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>Hora de la reunion</ion-label>
          <ion-datetime  display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label>Duracion</ion-label>
      <ion-select [(ngModel)]="reminder.duration" placeholder="Selecciona cuantas hora durara la reunion">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-card-content>
  </ion-card>
  <div class="center">
    <ion-button shape="round" color="light">
      <ion-text class="card-content-footer-text">
        Salir
       </ion-text>
    </ion-button>
    &nbsp;
    <ion-button (click)="create()" *ngIf="!updatedReminder else upd" shape="round" color="warning">
      <ion-text class="card-content-footer-text">
        Guardar cita
       </ion-text>
    </ion-button>
    <ng-template #upd>
      <ion-button (click)="update()" shape="round" color="warning">
        <ion-text class="card-content-footer-text">
          Actualizar cita
        </ion-text>
      </ion-button>
     </ng-template>
  </div>
</ion-content>
