<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Notas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="client-name">
    <ion-text class="title" >
        Melissa
    </ion-text>
    <div>
      <ion-grid>
        <!-- icon -->
        <ion-row class="icons-container">
          <ion-col size="3">
            <ion-icon class="icons" src="assets/icon/documents.svg"></ion-icon>
            <br>Documentos
          </ion-col>
          <ion-col size="3">
            <ion-icon class="icons" src="assets/icon/notes.svg"></ion-icon>
            <br>Notas
          </ion-col>
          <ion-col size="3">
            <ion-icon class="icons" src="assets/icon/schedule.svg"></ion-icon>
            <br>Agenda
          </ion-col>
          <ion-col size="3">
            <ion-icon class="icons" src="assets/icon/cotizations.svg"></ion-icon>
            <br>Cotizaciones
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- end icon -->
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-text color="dark" class="bold-text">
        Mayo 21
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="document">
        <ion-list>
          <ion-item>
            <ion-icon slot="start"  src="assets/icon/arrow-icon.svg"></ion-icon>
            <ion-icon slot="end"  src="assets/icon/points.svg"></ion-icon>
            <ion-text>
              Llamada recibida Melissa Olaya Domingues
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-badge>Creado por Saraí Sanchez </ion-badge>
          </ion-item>
          <ion-item class="last">
            26 de May. de 2021 a la(s) 1:32 PM EST
          </ion-item>
        </ion-list>

      </div>

      <!-- Infinte Scroll -->
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargando mas notas...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      <!-- Infinte Scroll -->
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-header-title">Crear nota</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-textarea auto-grow="true" placeholder="Escribe aquí tu nota"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div class="center">
    <ion-button shape="round" color="light">
      <ion-text class="card-content-footer-text">
        Salir
       </ion-text>
    </ion-button>
    &nbsp;
    <ion-button shape="round" color="warning">
      <ion-text class="card-content-footer-text">
        Guardar
       </ion-text>
    </ion-button>
  </div>
</ion-content>
