<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Notas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h2 class="title ion-text-center">Melissa Olaya Domingues</h2>

  <div class="document-banner">
    <div>
      <ion-icon class="icons" src="assets/icon/documents.svg"></ion-icon>
      <ion-label>Documentos</ion-label>
    </div>
    <div>
      <ion-icon class="icons" src="assets/icon/notes.svg"></ion-icon>
      <ion-label>Notas</ion-label>
    </div>
    <div>
      <ion-icon class="icons" src="assets/icon/schedule.svg"></ion-icon>
      <ion-label>Agenda</ion-label>
    </div>
    <div>
      <ion-icon class="icons" src="assets/icon/cotizations.svg"></ion-icon>
      <ion-label>Cotizaciones</ion-label>
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-text color="dark" class="bold-text">
        Mayo 21
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="document">
        <ion-list *ngFor="let note of notes">
          <ion-item class="no-bottom-border-item">
            <ion-icon slot="start" src="assets/icon/arrow-icon.svg"></ion-icon>
            <ion-icon (click)="alert(note)" slot="end" src="assets/icon/points.svg"></ion-icon>
            <ion-text>
              {{note.content}}
            </ion-text>
          </ion-item>
          <ion-item class="no-bottom-border-item">
            <ion-badge>Creado por {{note.user.nombre}} {{note.user.apellido}} </ion-badge>
          </ion-item>
          <ion-item>
            {{note.updated_at}}
          </ion-item>
        </ion-list>
      </div>
      <!-- Infinte Scroll -->
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más notas...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <!-- Infinte Scroll -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-left">Crear nota</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-textarea #content [(ngModel)]="note.content" auto-grow="true" placeholder="Escribe aquí tu nota">
        </ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div>
    <div class="m-0 row justify-content-center">
      <ion-button class="col-auto" shape="round" color="light">
        <ion-text>
          Salir
        </ion-text>
      </ion-button>
      &nbsp;
      <ion-button class="col-auto" (click)="createNote()" *ngIf="!updatedNote else update" shape="round" color="warning">
        <ion-text class="card-content-footer-text">
          Guardar
        </ion-text>
      </ion-button>
      <ng-template #update>
        <ion-button class="col-auto" (click)="updateNote()" shape="round" color="warning">
          <ion-text>
            Actualizar
          </ion-text>
        </ion-button>
      </ng-template>
    </div>
  </div>
</ion-content>
