<div class="p-4">
  <div class="d-flex justify-content-between mb-4">
    <div class="d-flex gap-3">
      <div class="box">
        <img src="assets/icon/calendar-icon.svg" alt="Icono de calendario" />
      </div>
      <div>
        <h4>Recordatorio</h4>
        <span class="d-block">{{ date }}</span>
        <span><b>Desde:</b> {{ startHour }} - </span>
        <span><b>Hasta:</b> {{ endHour }} </span>
      </div>
    </div>
    <button
      (click)="close()"
      type="button"
      class="btn-close"
      aria-label="Close"
    ></button>
  </div>
  <ion-button
    size="small"
    class="button button--font"
    shape="round"
    color="warning"
    (click)="editReminderModal()"
  >
    <ion-text> Editar Recordatorio </ion-text> </ion-button
  ><ion-button
    size="small"
    class="button button--font"
    shape="round"
    color="danger"
    (click)="deleteReminder()"
  >
    <ion-text> Eliminar Recordatorio </ion-text>
  </ion-button>
  <span class="d-block mt-4">{{ reminder }}</span>
</div>
