<div class="p-4">
  <div class="d-flex justify-content-between mb-4">
    <div class="d-flex gap-3">
      <div class="box">
        <img src="assets/icon/calendar-icon.svg" alt="Icono de calendario" />
      </div>
      <div>
        <h4>Recordatorios</h4>
        <span class="d-block">{{ date }}</span>
      </div>
    </div>
    <button
      (click)="close()"
      type="button"
      class="btn-close"
      aria-label="Close"
    ></button>
  </div>
  <span><b>Recordatorio -></b> {{ reminder }}</span>
</div>
