<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <div class="card-container">
    <div class="cards container-bordered" [routerLink]="['/campaigns']">
      <img src="assets/icon/assessment.svg">
      <ion-label>{{data.allCampaigns}}</ion-label>
      <p>Campañas</p>
    </div>
    <div class="cards container-bordered" [routerLink]="['/clients']">
      <img src="/assets/icon/persons-circle.svg" alt="">
      <ion-label>{{data.clients}}</ion-label>
      <p>Clientes</p>
    </div>
    <div class="cards container-bordered">
      <img src="assets/icon/monetization.svg" alt="">
      <ion-label>{{data.projections}}</ion-label>
      <p>Proyecciones</p>
    </div>
    <div class="cards container-bordered" [routerLink]="['/calendar']">
      <img src="/assets/icon/calendar.svg" alt="">
      <ion-label>{{data.reminders}}</ion-label>
      <p>Agenda</p>
    </div>

  </div>

  <div class="title-bar mt-3">
    ULTIMAS NOTIFICACIONES
  </div>

  <ng-container *ngFor="let news of data.lastNews" class="card-content">
    <ion-card>
      <ion-card-header class="bg-ligth-gray">
        <ion-card-subtitle>
          <div class="d-flex justify-content-between">
            <h4>{{news.title}}</h4>
            {{news.created_at | date}}
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="d-flex flex-column">
          {{seeMore ? news.content.substring(0,100) + '...' : news.content}}
          <ion-img [src]="news.image" [hidden]="seeMore"></ion-img>
          <div>
            <ion-button (click)="seeMore = !seeMore" color="warning" size="small">
              <ion-icon slot="start" name="eye-outline"></ion-icon>
              {{ seeMore ? 'Leer más' : 'Leer menos'}}
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <div class="title-bar">
    TOP SEMANAL DE VENDEDORES
  </div>

  <div class="d-flex ">
    <ng-container *ngFor="let seller of data.topSellers">
      <div class="seller-card text-center">
        <img [src]="seller.main_image" />
        <small>{{seller.nombre}} {{seller.apellido}}</small>
      </div>
    </ng-container>

  </div>

</ion-content>