<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <div class="card-container">
    <!-- Campañas -->
    <ion-card class="card-header">
      <ion-card-header>
        <ion-card-subtitle class="card-header-icon">
          <img src="assets/icon/assessment.svg">
        </ion-card-subtitle>
        <ion-card-title class="card-header-title">{{data.allCampaigns}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-header-content">
        Campañas
      </ion-card-content>
    </ion-card>
    <!-- Clientes -->
    <ion-card class="card-header">
      <ion-card-header>
        <ion-card-subtitle class="card-header-icon">
          <img src="/assets/icon/persons-circle.svg" alt="">
        </ion-card-subtitle>
        <ion-card-title class="card-header-title">{{data.clients}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-header-content">
        Mis Clientes
      </ion-card-content>
    </ion-card>
  </div>

  <div class="card-container">
    <!-- Proyecciones -->
    <ion-card class="card-header">
      <ion-card-header>
        <ion-card-subtitle class="card-header-icon">
          <img src="assets/icon/monetization.svg" alt="">
        </ion-card-subtitle>
        <ion-card-title class="card-header-title">{{data.projections}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-header-content">
        Proyecciones
      </ion-card-content>
    </ion-card>
    <!-- Agenda -->
    <ion-card class="card-header">
      <ion-card-header>
        <ion-card-subtitle class="card-header-icon">
          <img src="/assets/icon/calendar.svg" alt="">
        </ion-card-subtitle>
        <ion-card-title class="card-header-title">{{data.reminders}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-header-content">
        Mi Agenda
      </ion-card-content>
    </ion-card>
  </div>

  <div class="title-bar">
    ULTIMAS NOTIFICACIONES
  </div>

  <ng-container *ngFor="let news of data.lastNews" class="card-content">
    <ion-card>
      <ion-card-header class="bg-ligth-gray">
        <ion-card-subtitle>
          {{news.title}}
          {{news.create_at | date}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{seeMore ? news.content.substring(0,100) + '...' : news.content}}...
        <ion-button (click)="seeMore = !seeMore" color="warning" size="small">
          <ion-icon slot="start" name="eye-outline"></ion-icon>
          {{ seeMore ? 'Leer más' : 'Leer menos'}}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <div class="title-bar">
    TOP SEMANAL DE VENDEDORES
  </div>

  <div>
    <ng-container *ngFor="let seller of data.topSellers">
      <div class="seller-card">
        <img [src]="seller.main_image" />
        <small>{{seller.nombre}} {{seller.apellido}}</small>
      </div>
    </ng-container>

  </div>

</ion-content>