section {
  min-height: 100vh;
}

.arrow-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;

  &-reverse {
    @extend .arrow-icon;
    transform: rotate(180deg);
  }
}

.top-bar {
  padding: 1rem;
  display: flex;
  justify-items: start;
  align-items: center;
  gap: 2rem;
}

.calendar {
  height: 100%;
}

.custom-calendar-header.active {
  border: 1px solid var(--ion-color-primary);
}

.button {
  --padding-top: 1rem;
  --padding-right: 0.5rem;
  --padding-bottom: 1rem;
  --padding-left: 0.5rem;
}

.header-calendar {
  background-color: var(--ion-color-danger);
  color: #fff;
}

.legend-danger {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--ion-color-danger);
}
