<section class="d-flex flex-column">
  <div class="top-bar shadow">
    <img
      (click)="goBack()"
      class="arrow-icon-reverse"
      src="assets/icon/arrow-icon.svg"
      alt="Icono de Flecha"
    />
    <h3 class="title">Crear Recordatorio</h3>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <span *ngIf="selectedDate" class="fw-bold"
      >Fecha seleccionada: {{ selectedDate }}</span
    >
    <div class="ms-auto">
      <img
        (click)="prevSlide()"
        class="arrow-icon-reverse"
        src="assets/icon/arrow-icon.svg"
        alt="Icono de Flecha"
      />
      <img
        (click)="nextSlide()"
        class="arrow-icon"
        src="assets/icon/arrow-icon.svg"
        alt="Icono de Flecha"
      />
    </div>
  </div>
  <div class="calendar">
    <ng-template #template let-viewDate="viewDate">
      <div style="cursor: pointer">{{ viewDate.dayHeader }}</div>
    </ng-template>
    <calendar
      #myCalendar
      [weekviewHeaderTemplate]="template"
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      [lockSwipes]="true"
      (onDayHeaderSelected)="setDate($event.selectedTime)"
      (onTimeSelected)="setDate($event.selectedTime)"
    >
    </calendar>
  </div>
  <ion-button
    (click)="initModal()"
    class="button mt-3"
    shape="round"
    expand="full"
    color="warning"
  >
    <ion-text> Agregar Recordatorio </ion-text>
  </ion-button>
</section>
