<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Documentos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h2 class="title ion-text-center">Melissa Olaya Domingues</h2>

  <div class="document-banner">
    <div>
      <div>
        <ion-icon class="icons" src="assets/icon/documents.svg"></ion-icon>
        <ion-label>Documentos</ion-label>
      </div>
      <div>
        <ion-icon class="icons" src="assets/icon/notes.svg"></ion-icon>
        <ion-label>Notas</ion-label>
      </div>
    </div>
    <div>
      <div>
        <ion-icon class="icons" src="assets/icon/schedule.svg"></ion-icon>
        <ion-label>Agenda</ion-label>
      </div>
      <div>
        <ion-icon class="icons" src="assets/icon/cotizations.svg"></ion-icon>
        <ion-label>Cotizaciones</ion-label>
      </div>
    </div>
  </div>

  <div class="container-bordered ion-padding">
    <p>Historical</p>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <img src="assets/icon/pdf.svg" style="height: 1.5rem;" class="ion-margin-end">
      <ion-label>Ficha de Mayo ac...</ion-label>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div class="ion-text-center ion-margin-top">
    <ion-button (click)="onClick()" fill="outline" shape="round" class="ion-margin-end">
      <ion-label class="ion-margin-horizontal">Salir</ion-label>
    </ion-button>
    <ion-button (click)="onClick()" color="warning" fill="solid" shape="round" class="ion-margin-start">
      <i-label class="ion-margin-horizontal">Guardar</i-label>
    </ion-button>
  </div>

</ion-content>