ion-button {
 text-transform: none;
}
.history-span{
  color: #304FFE;
}
.client-name{
  text-align: center;
  margin-top: 5%;
}
.icons{
    height: 60px;
    width: 60px;

}
.icon{
    height: 30px;
    width: 30px;

}
.card-content{
  text-align: center;
}
.text-button{
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #455A64;
}
.card{

}
.bold-text{
  font-weight: bold;
}
.status-text{
  position: absolute;
  top: 10px;

}
.icon-history{
  height: 20px;
  width: 20px;
}
.history > ion-grid > ion-row {
  box-shadow: 0.4px 0.4px 0.4px #999;
}
