<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Buscar Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    class="search-bar"
    placeholder="Buscar clientes"
    inputmode="text"
    (ionChange)="searchClient($event)"
    debounce="1000"
   ></ion-searchbar>
  <div *ngIf="length > 0 else noData">
    <ng-container *ngFor="let client of clients">
      <ion-card>
        <ion-card-header class="d-flex justify-content-between bg-ligth-gray" style="padding: 5px;">
          <ion-label class="d-flex align-items-center">
            <ion-icon slot="start" name="person-circle" color="primary" style="font-size: 2rem"></ion-icon>
            cliente: <h4 class="info"> {{client.cliente.nombre}} {{client.cliente.apellido}} </h4>
          </ion-label>

          <ion-chip outline="false" class="primary-chip" [routerLink]="['/client', client.id]"
            routerLinkActive="router-link-active">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            <ion-label>Ver cliente</ion-label>
          </ion-chip>
        </ion-card-header>

        <ion-card-content class="ion-no-padding">
          <div class="d-flex justify-content-between">
            <div class="p-1">
              <p class="text-black-50">Estado</p>
              <p class="info">{{client.condicion === 0 ? 'No contactado' : 'Contactado'}}</p>
            </div>
            <div class="p-1">
              <p class="text-black-50">Teléfono</p>
              <p>{{client.cliente.numero}}</p>
            </div>
            <div>
              <ion-chip (click)="whatsapp(client.cliente.numero)" color="success" mode="ios" outline="true">
                <ion-icon name="logo-whatsapp"></ion-icon>
                <ion-label>Whatsapp</ion-label>
              </ion-chip>
            </div>
          </div>

          <div>
            <ion-button class="call2" expand="full" color="warning" (click)="callNumber(client.cliente.numero)">
              <ion-icon slot="start" src="assets/icon/cellphone.svg"></ion-icon>
              <ion-text class="card-content-footer-text">
                LLAMAR AHORA
              </ion-text>
            </ion-button>
          </div>
        </ion-card-content>

      </ion-card>
    </ng-container>
  </div>
  <ng-template #noData>
    <div class="card text-center ion-padding border-0">
      <div class="card-body">
        <div class="col text-center alert alert-warning" role="alert">
            No hay clientes para mostrar
        </div>
      </div>
    </div>
  </ng-template>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más clientes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer class="ion-no-border">
</ion-footer>
